<?xml version="1.0"?>
<config>
    <modules>
        <Sauber_Uploader>
            <version>0.1.1</version>
        </Sauber_Uploader>
    </modules>
	<global>
		<helpers>
            <sauber_uploader>
                <class>Sauber_Uploader_Helper</class>
            </sauber_uploader>
        </helpers>
        <events>             
            <catalog_product_prepare_save>
                <observers>
                    <sauber_uploader>
                        <type>singleton</type>
                        <class>Sauber_Uploader_Model_Observer</class>
                        <method>addFiles</method>
                    </sauber_uploader>
                </observers>
            </catalog_product_prepare_save>
            <adminhtml_product_attribute_types>
                <observers>
                    <sauber_uploader>
                        <type>singleton</type>
                        <class>Sauber_Uploader_Model_Observer</class>
                        <method>addAttributeType</method>
                    </sauber_uploader>
                </observers>
            </adminhtml_product_attribute_types>
            <catalog_entity_attribute_save_before>
                <observers>
                    <sauber_uploader>
                        <type>singleton</type>
                        <class>Sauber_Uploader_Model_Observer</class>
                        <method>changeBackendType</method>
                    </sauber_uploader>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
	</global>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <uploader>uploader</uploader>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
