<style type="text/css">
body,td 
{ color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
a:visited {color: #000000}
</style>

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">


<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Name   </h1>
	</td>
	<td>
		<h2 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px">{{var name}} 
		</h2>
	</td>
</tr>
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Email   </h1>
	</td>
	<td>
		<h2 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px">{{var senderemail}} 
		</h2>
	</td>
</tr>
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Telephone   </h1>
	</td>
	<td>
		<h2 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px">{{var telephone}} 
		</h2>
	</td>
</tr>
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Website Url   </h1>
	</td>
	<td style="width: 400px;">
		<h2 style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0; ">{{var url}} 
		</h2>
	</td>
</tr>
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Purpose   </h1>
	</td>
	<td>
		<h2 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; ">{{var extension}} 
		</h2>
	</td>
</tr>
<tr>
	<td valign="top" style="width: 140px;">
		<h1 style="font-size:12px; font-weight:normal; line-height:16px; margin:0 0 0px 0; width: 130px"> Message   </h1>
	</td>
</tr>
<tr>
	<td colspan="2">
		<p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0; ">{{var message}} 
		</p>
	</td>
</tr>	


<tr>
	<td>
		
		<p style="font-size:12px; margin:0 0 10px 0"></p>
	</td>
</tr>
	<tr>
		<td colspan="2" bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
			<p style="font-size:12px; text-align:center; margin:0;">
			<br />-------------------<br />
			This email was sent from <a href="{{var url}}">This Store</a> using FME Base Module<br />
			<br /></p>
			</td>
	</tr>
</tr>
</table>

</div>
</body>